<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>VTS</display-name>
	  
<servlet>  
<servlet-name>VehicleServlet</servlet-name>  
<servlet-class>VehicleServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>VehicleServlet</servlet-name>  
<url-pattern>/VehicleServlet</url-pattern>  
</servlet-mapping>  

<servlet>  
<servlet-name>DriverServlet</servlet-name>  
<servlet-class>DriverServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>DriverServlet</servlet-name>  
<url-pattern>/DriverServlet</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>RouteServlet</servlet-name>  
<servlet-class>RouteServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>RouteServlet</servlet-name>  
<url-pattern>/RouteServlet</url-pattern>  
</servlet-mapping> 
  
<welcome-file-list>  
    <welcome-file>welcome.jsp</welcome-file>  
</welcome-file-list>  
  
</web-app>  
